.masthead {
  height: 100vh;
  min-height: 500px;
  background-image:  url('Mast-Pic.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

h1 {
  background-color: inherit;
    font-size: 120px;
    font-family:fantasy;
    color: white;
    margin-right: 0px
  }
img {
  background-origin: inherit;
    background-color: inherit;
  }

.header{
    background: linear-gradient(to right, #000000, #4e00a9);
}
.footer {
  position:static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
    background: linear-gradient(to top, #000000, #4e00a9);
  text-align: center;
}

img.contact{
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right:  5px;
  position: absolute;
  top: 25px;
  float: right;
}
img.outline{
  object-fit: scale-down;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  position: absolute;
  border-style:solid;
  border-color: black;
  top: 25px;
  float: right;
}
.fill{
  min-height: 100px !important;
}
p.main {
  font-size: 15px;
  text-indent: 40px;
  margin-left: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
}
p.subtext{
   font-size: 15px;
    color: #3A3535

}
body{
  background-color: rgb(251, 255, 248);
}
span.head3 {
  font-size: larger;
  color: rgb(218, 168, 32);
}
h2{
  font-size: 40px;
  font-weight: 15px;
}

strong{
  font-weight: bold;
}

html {background-color: black}

p.summary{
  font-size: medium;
  color: black;
}
p.summary>b{
  color: darkviolet;
}
p.summary>span>b{
  color:darkviolet;
}